                        </div>
                        <div class="row group-divide">
                            <div class="column text-right">
                                <a class="button secondary radius" href="" onclick="{{ include.title | remove: " " }}Slide(event)">
                                    Cancel
                                </a>
                                <a class="button radius" href="" onclick="{{ include.title | remove: " " }}Save(event)">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-wrapper">
    
<script>
     function {{include.title  | remove: " "}}Slide(e){
        e.preventDefault();
        ($('#add{{include.title | remove: " "}}Button').css("display") == "none"  )? $('html, body').animate({scrollTop: $("#{{include.title | remove: " "}}").offset().top}, 500):$('html, body').animate({scrollTop: $("#add{{include.title  | remove: " "}}").offset().top}, 500);
        $('#add{{include.title | remove: " "}} .repeater-area,#add{{include.title | remove: " "}}Button').slideToggle();
        }
</script>