<div class="row" id="{{ include.title | remove: ' ' }}">
    <div class="column relative-position">{% if include.level == "h1" %}
              <div class="required-legend">
                <span class="emphasis">&quot;<i class="fa fa-asterisk" style="color:orange;"></i>&quot; required</span>
            </div>
              {% endif %}
        <{{include.level}} class="{{include.style}}">
            {{ include.title }}

             {% if include.level != "h1" %}
                <div class="sub-line">
                    {{ include.message }}
                </div>
                {% endif %}
        </{{include.level}}>

    </div>
</div>
{% if include.level == "h1" and include.message != "" %}
<div class="row column">
    <div class="page-message callout empty {{include.state}}">
        <div class="message-container">
            <div class="icon-holder">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x">
                    </i>
                    <i class="fa fa-holder fa-stack-1x">
                    </i>
                </span>
            </div>
            <div class="message-holder">
                
                <h5 class="no-margin">
                    {{ include.message }}
                </h5>
              
            </div>
        </div>
    </div>
</div>
  {% endif %}