<div class="question column {{include.size}} {{include.state}}">
	<div class="label-holder">
	<label for="">
		<span class="text">
                {{include.label}}
            </span>
            <span class="required-holder">
                <i class="fa fa-holder">
                </i>
            </span>
        </label>
	</div>
	<div class="input-holder row collapse">
		<div class="input-space column small-10 date-input-holder">
			<input type="text" {{include.state}}  placeholder="YYYY">
			<span class="input-lock">
                <i data-tooltip aria-haspopup="true" class="fa fa-lock lock-symbol has-tip" title="Input is locked.  Call Member Services if this needs to change">
                </i>
            </span>
		</div>
		<div class="column small-2 input-space end date-picker-holder"><a href="" class="button datepicker-button hollow expanded"><i class="fa fa-calendar"></i></a></div>
	</div>
	<div class="message-holder">
		<small class="error">Error Message</small>
	</div>
	<div class="hint">{{include.hint}}</div>
</div>	